<!DOCTYPE html>
<html>
  <head>
    <title>Req header parser microservice | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css" />
  </head>

   <body>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <button onclick="window.location.href='api/whoami';">
          Click Here
          </button>

        <h3>Example Output:</h3>
        <div class = "example-output">
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </div>
      </div>
      <div class="footer">
        <p> 
          A
        </p>
        <a title="freeCodeCamp, Public domain, via Wikimedia Commons" href="https://www.freecodecamp.org/"><img width="212" alt="FreeCodeCamp logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/FreeCodeCamp_logo.svg/512px-FreeCodeCamp_logo.svg.png"></a>
        <p>
          Project completed by Lewis Mander
        </p>
      </div>
   </body>

</html>
